In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Load data
data = pd.read_csv('../data/restaurants.dat', delimiter=',')
# display every column of the dataframe
pd.set_option('display.max_columns', None)
data

,ID,rating,price,category_Chinese,category_Japanese,category_Korean,category_Indian,category_French,category_Mexican,category_Lebanese,category_Ethiopian,Asian,rest_lat,rest_lon,distance,downtown
0,0,1,4,0,1,0,0,0,0,0,0,1.0,57.994604,42.220972,71.735518,1.0
1,1,2,2,0,0,1,0,0,0,0,0,1.0,93.474454,50.549434,106.267205,0.0
2,2,3,3,0,0,0,0,0,0,0,1,0.0,94.902294,97.830520,136.298409,0.0
3,3,4,1,1,0,0,0,0,0,0,0,1.0,51.027966,69.152206,85.941147,0.0
4,4,4,3,0,0,0,0,0,0,0,0,0.0,37.657349,89.145620,96.773021,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,4,3,0,0,0,0,0,0,0,0,0.0,83.627288,9.511387,84.166441,0.0
96,96,1,1,0,0,0,0,0,0,0,0,0.0,25.475207,92.144641,95.601366,0.0
97,97,4,2,0,0,0,0,0,0,0,1,0.0,12.715702,27.657518,30.440555,1.0
98,98,4,4,1,0,0,0,0,0,0,0,1.0,31.367914,32.303213,45.027143,1.0
99,99,4,1,0,0,0,0,0,0,0,1,0.0,21.765162,13.672495,25.703295,1.0

In [3]:
# Load data
data2 = pd.read_csv('../data/obs_choice.dat', delimiter=',')
# display every column of the dataframe
pd.set_option('display.max_columns', None)
data2

,user_lat,user_lon,logit_0,logit_1,logit_2,logit_3,logit_4,nested_0,nested_1,nested_2,nested_3,nested_4,cnl_0,cnl_1,cnl_2,cnl_3,cnl_4
0,29.658623,94.939628,10,37,54,44,75,28,34,10,48,94,44,37,16,70,34
1,11.143086,44.648300,54,87,53,74,70,30,88,93,39,82,54,11,10,39,63
2,59.937774,79.235164,35,42,40,76,21,12,12,99,16,44,35,30,44,82,26
3,89.859393,20.279733,82,94,51,54,34,9,50,26,35,39,10,76,82,44,78
4,22.618975,25.913081,40,43,37,30,23,40,82,35,35,97,2,35,42,91,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,47.243040,51.278399,10,0,34,30,27,90,40,30,94,23,29,44,30,53,30
9996,72.957844,86.053678,89,82,79,39,12,94,82,32,35,94,4,76,16,19,25
9997,5.057515,36.973306,6,3,20,81,54,16,79,88,32,24,35,94,34,54,11
9998,54.747056,93.820073,32,52,37,40,40,25,35,32,35,30,34,16,69,29,94
9999,85.639523,61.812369,35,30,9,82,89,54,10,10,10,30,64,21,89,53,29

In [4]:
# min and max values of logit_0
min_logit_0 = data2['logit_0'].min()
max_logit_0 = data2['logit_0'].max()
print('min_logit_0:', min_logit_0)
print('max_logit_0:', max_logit_0)

min_logit_0: 0
max_logit_0: 99

In [5]:
beta_chinese_0 = 0.849
beta_ethiopian_0 = 0.489
beta_french_0 = 0.629
beta_indian_0 = 1.03
beta_japanese_0 = 1.28
beta_korean_0 = 0.753
beta_lebanese_0 = 0.853
beta_log_dist_0 = -0.602
beta_mexican_0 = 1.27
beta_price_0 = -0.4
beta_rating_0 = 0.743

In [6]:
import math

def haversine(lat1, lon1, lat2, lon2):
    R = 6371.0  # Earth radius in kilometers

    # Convert latitude and longitude from degrees to radians
    lat1 = math.radians(lat1)
    lon1 = math.radians(lon1)
    lat2 = math.radians(lat2)
    lon2 = math.radians(lon2)

    # Compute differences in latitude and longitude
    dlat = lat2 - lat1
    dlon = lon2 - lon1

    # Apply Haversine formula
    a = math.sin(dlat / 2)**2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon / 2)**2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    distance = R * c

    return distance

In [7]:
# Compute the utilities for the 100 restaurant for one individual using the logit_0
user_0_lat = data2['user_lat'][0]
user_0_lon = data2['user_lon'][0]
rest_0_lat = data['rest_lat']
rest_0_lon = data['rest_lon']

# Initialize a list to store utilities for each restaurant
utilities = []

for i in range(100):
    distance = haversine(user_0_lat, user_0_lon, rest_0_lat[i], rest_0_lon[i])
    #Compute U_0 for restaurant 0, U_1 for restaurant 1, etc...
    U_i = beta_chinese_0 * data['category_Chinese'][i] + beta_ethiopian_0 * data['category_Ethiopian'][i] + \
           beta_french_0 * data['category_French'][i] + beta_indian_0 * data['category_Indian'][i] + \
           beta_japanese_0 * data['category_Japanese'][i] + beta_korean_0 * data['category_Korean'][i] + \
           beta_lebanese_0 * data['category_Lebanese'][i] + beta_mexican_0 * data['category_Mexican'][i] + \
           beta_price_0 * data['price'][i] + beta_rating_0 * data['rating'][i] + \
           beta_log_dist_0 * distance
    
    # Append the utility to the list
    utilities.append(U_i)
print(utilities)

[-3057.753684906278, -4205.8412823370145, -4365.451550810374, -1920.3171440531482, -623.112719323996, -3924.9150451400246, -3780.2703912913057, -4678.453928398946, -2528.9314149675292, -3706.530433751672, -1082.5916127320295, -4240.452332099547, -3809.2930409886753, -3930.0512845106764, -2484.850081301805, -2592.017438063749, -752.0921517480115, -4368.970317910712, -3954.4104940100106, -3382.1246640209993, -2846.428949317063, -4018.0373190679215, -2308.4795143593255, -4510.925124262477, -2500.6139192704036, -1116.8558273221586, -3875.896795824831, -3624.689399499349, -4303.8948074909, -1145.3709278142255, -2794.4519864907943, -263.79203834967785, -3369.977669177034, -4100.160123253461, -449.50474116914796, -3326.115206694144, -2751.668572470594, -2344.818977634648, -2087.5572655116493, -3489.9169934282604, -1708.833100518943, -2545.79175599222, -4120.881010254613, -2702.3361659197953, -1054.8328022758606, -4772.826172319387, -2969.6099072558172, -3831.9467332125773, -6218.138689450392, -3058.931633492695, -3201.02836143155, -4075.5903568356175, -340.5450505122038, -1815.0530104093364, -5007.669277102545, -3865.2395351855207, -3083.5183643595046, -4060.765776553815, -4028.635986504163, -1280.8728209355695, -5210.8376601106265, -4435.378792877846, -3470.141301806777, -3098.5755515636365, -4215.823225058313, -3988.98396136865, -1165.2130349285744, -1707.5309608773543, -4032.8113397260495, -3404.389738901575, -2224.335196307069, -3452.695242293621, -1336.8965169713829, -973.9158590441548, -3944.1529762350365, -4027.981204303366, -3742.541280749109, -4617.021968024612, -1245.4681562705364, -2208.1321486788497, -3990.9619607425734, -3837.891474388929, -2731.0888926468333, -3894.3850275755885, -2544.644642544921, -163.30317340604108, -3628.9491646033034, -2359.044297146832, -3541.399412452269, -3596.748495595247, -3368.143358390159, -3962.269791901055, -3692.572537820299, -1944.0446758028897, -3540.685861453592, -4016.972091055941, -325.08561078056283, -4290.346866355406, -3560.9066880951736, -4828.667226139916]

In [8]:
# Initialize a dictionary to store utilities for all users
all_utilities = {}

# Iterate over each user
for user_idx in range(10000):
    # Get the latitude and longitude of the current user
    user_lat = data2['user_lat'][user_idx]
    user_lon = data2['user_lon'][user_idx]
    rest_lat = data['rest_lat']
    rest_lon = data['rest_lon']
    
    # Initialize a list to store utilities for the current user
    user_utilities = []
    
    # Iterate over each restaurant
    for i in range(100):
        # Compute the distance between the user and the restaurant
        distance = haversine(user_lat, user_lon, rest_lat[i], rest_lon[i])
        
        # Compute utility for the ith restaurant for the current user
        U_i = beta_chinese_0 * data['category_Chinese'][i] + \
              beta_ethiopian_0 * data['category_Ethiopian'][i] + \
              beta_french_0 * data['category_French'][i] + \
              beta_indian_0 * data['category_Indian'][i] + \
              beta_japanese_0 * data['category_Japanese'][i] + \
              beta_korean_0 * data['category_Korean'][i] + \
              beta_lebanese_0 * data['category_Lebanese'][i] + \
              beta_mexican_0 * data['category_Mexican'][i] + \
              beta_price_0 * data['price'][i] + \
              beta_rating_0 * data['rating'][i] + \
              beta_log_dist_0 * distance
        
        # Append the utility to the list for the current user
        user_utilities.append(U_i)
    
    # Store the list of utilities for the current user in the dictionary
    all_utilities[user_idx] = user_utilities

# Now 'all_utilities' is a dictionary where keys are user indices and values are lists of utilities
# You can access the utilities associated with any specific user by using their index as the key, for example:
# utilities_for_user_3000 = all_utilities[3000]

In [9]:
# Initialize a dictionary to store utilities for all users
all_probabilities = {}

# Iterate over each user
for user_idx in range(10000):
    user_utilities = all_utilities[user_idx]

    # Compute the sum of exponentials of utilities
    sum_exp_utilities = sum([math.exp(U_i) for U_i in user_utilities])
    print(sum_exp_utilities)

    # Compute the probability of choosing each restaurant
    user_probabilities = [math.exp(U_i) / sum_exp_utilities for U_i in user_utilities]

    # Store the list of probabilities for the current user in the dictionary
    all_probabilities[user_idx] = user_probabilities

1.1976582555704985e-71
3.497395263644788e-166
1.724106258328024e-166
0.007479769671539734
7.356533218216376e-208
1.8520819322589882e-72
3.9564817986540767e-07
4.748520537409353e-66
8.27234906555396e-61
1.193398233546143e-77
1.6118689428143693e-94
1.2858917734526035e-44
0.0

ZeroDivisionError: float division by zero